<div class="min-h-screen flex flex-col w-full border-opacity-50 bg-amber-100 pt-14 gap-4">
  <div class="mt-10 space-y-4">
    <h1 class="text-center text-6xl font-color"><%= select_comment(@score) %></h1>
    <div class="flex justify-center items-center flex-col lg:flex-row-reverse">
        <div class="w-1/2 lg:w-1/4 h-auto">
            <%= image_tag select_mascot(@score) %>
        </div>
        <div class="space-y-6">
            <div class="flex h-auto bg-amber-50 rounded-box py-4 px-12 gap-6 text-4xl">
              <ul class="space-y-4">
                <li><%= "1問目" %></li>
                <li><%= "2問目" %></li>
                <li><%= "3問目" %></li>
              </ul>
              <ul class="font-color space-y-4">
                <% @result.each do |h| %>
                  <li><%= h["name"] %></li>
                <% end %>
              </ul>
              <ul class="text-right space-y-4">
                <% @result.each do |h| %>
                  <li><%= "#{h["score"]}点" %></li>
                <% end %>
              </ul>
            </div>
            <p class="text-center text-5xl font-bold"><%= "合計：#{@score}点" %></p>
        </div>
    </div>
  </div>
  <div>
    <div class="divider"></div>
    <h1 class="text-center text-6xl font-color">スコアランキング</h1>
    <button id="open_modal" class="btn btn-accent" onclick="my_modal_3.showModal()">ランキングに登録</button>
    
  </div>
</div>

<dialog id="my_modal_3" class="modal">
  <div class="modal-box bg-amber-50">
    <h3 class="font-bold text-lg">ランクインしました</h3>
    <%= form_with(url: ranker_create_path, method: :post, local: true) do |f|%>
      <%= f.text_field :nickname %>
      <%= f.hidden_field :score, value: @score %>
    <div class="modal-action">
      <%= f.submit "登録する", class:"btn btn-accent" %>
    <% end %>
      <form method="dialog">
        <button class="btn">ゲームに戻る</button>
      </form>
    </div>
  </div>
</dialog>

<%= javascript_include_tag "ranker" %>