<div class="min-h-screen flex flex-col w-full border-opacity-50 bg-amber-100 py-14 gap-4">
  <div class="pt-4 lg:mt-10 space-y-4">
    <h1 class="text-center text-6xl font-color"><%= @comment %></h1>
    <div class="flex justify-center items-center gap-4 flex-col lg:flex-row-reverse">
        <div class="w-1/3 lg:w-1/4 h-auto">
            <%= image_tag @mascot %>
        </div>
        <div class="space-y-6">
            <div class="flex h-auto bg-amber-50 rounded-box py-4 px-12 gap-6 text-4xl">
              <ul class="space-y-4">
                <li><%= "1問目" %></li>
                <li><%= "2問目" %></li>
                <li><%= "3問目" %></li>
              </ul>
              <ul class="font-color space-y-4">
                <% @result.each do |h| %>
                  <li><%= h["name"] %></li>
                <% end %>
              </ul>
              <ul class="text-right space-y-4">
                <% @result.each do |h| %>
                  <li><%= "#{h["score"]}点" %></li>
                <% end %>
              </ul>
            </div>
            <p class="text-center text-5xl font-bold"><%= "合計：#{@score}点" %></p>
            <div class="w-full btn btn-neutral text-2xl">
              <%= link_to "https://twitter.com/share?url=#{root_path}&text=【#{@score}点を獲得しました！#{@comment}】%0a%23アルティメット色おに", target: '_blank', title: "Xでシェア" do %>
                結果をXでシェアしよう！
              <% end %>
            </div>
        </div>
    </div>
  </div>
</div>