<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-14NRGW28NK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-14NRGW28NK');
    </script>
  </head>

  <body>
    <header>
      <% unless controller_name == 'static_pages' && action_name == 'top'%>
        <%= render 'shared/header' %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
